#!/usr/bin/env ruby
require 'date'

compile '/index.html' do
    filter :erb
    layout '/default.*'
    write '/index.html'
end

compile '/posts/**/*.html' do
    # this will apply the post layout first and then the main ayout
    layout '/post.*'
    layout '/default.*'

    path = item.identifier.without_ext.delete_prefix('/posts')
    write "#{path}/index.html"
end

compile '/**/*.html' do
    layout '/default.*'
    write item.identifier.without_ext + '/index.html'
end

# This is an example rule that matches Markdown (.md) files, and filters them
# using the :kramdown filter. It is commented out by default, because kramdown
# is not bundled with Nanoc or Ruby.
#
#compile '/**/*.md' do
#  filter :kramdown
#  layout '/default.*'
#  write item.identifier.without_ext + '/index.html'
#end

compile '/**/*' do
    write item.identifier.to_s
end

layout '/**/*', :erb
