--- 
title: Go See Scrolls - all the publications ever made by the Go See Family
---

<section class="section archive-header color-theme-blue">
    <div class="container">
        <h1 class="section-title">Archive</h1>
    </div>
</section>

<section id="recent-articles" class="section recent-articles-section">
	<div class="container">
        <div class="recent-articles">
            <% sorted_articles().each do |article| %>
                <article class="article article-teaser">
                    <img src="<%= article[:front_image] %>" alt="<%= article[:title] %>" class="article-image">
                    <h2 class="article-title">
                        <%= article[:title] %>
                    </h2>
                    <div class="article-text">
                        <%= article[:teaser] %>
                    </div>
                    <% path = "#{article.identifier.without_ext.delete_prefix('/posts')}" %>
                    <a href="<%= path %>" class="button small red article-button">Read more</a>
                </article>
            <% end %>
        </div>
    </div>
</section>
